<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>376254523155-stk4rcfdniim8cm9qdbv4njsrtmrciip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376254523155-stk4rcfdniim8cm9qdbv4njsrtmrciip</string>
	<key>API_KEY</key>
	<string>AIzaSyDqlDK3W15O60o-q65KplO9moGERazjcSI</string>
	<key>GCM_SENDER_ID</key>
	<string>376254523155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CadisMihai.MobileiOSApp</string>
	<key>PROJECT_ID</key>
	<string>mobileiosapp-78098</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileiosapp-78098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376254523155:ios:5150369caa75b07b</string>
	<key>DATABASE_URL</key>
	<string>https://mobileiosapp-78098.firebaseio.com</string>
</dict>
</plist>